@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");

body {
  font-family: "Asap", sans-serif;
}

.nav_principal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background: #f4f7f4;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.nav_logo h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family: sans-serif;
  color: #444343;
}

.nav_links {
  margin-left: auto;
}

.nav_links ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_links li {
  margin: 0 1rem;
}
.nav_links a {
  font: inherit;
  background: transparent;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: #000000;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
}

.nav_links a:hover,
.nav_links a:active,
.nav_links a.active {
  color: #ffffff;
  background: #fa770d;
  border-radius: 4px;
  padding: 1rem;
}

.login-block {
  background-color: #eeeeee;
  box-shadow: 2px 2px 8px #888888;
  border-radius: 10px;
  width: 20rem;
  max-width: 60%;
  margin: 20rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

.form-group {
  padding-top: 2rem;
}

input {
  width: 15rem;
  height: 2.5rem;
  outline: 0 none;
  border: none;
  background: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #fa770d;
  /* box-shadow: 0 0 10px #fa770d; */
}

button {
  border-radius: 7px;
  border: 1px solid #fa770d;
  background: #fa770d;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  background: #ff5201;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

select:focus {
  outline: 0;
  border: 2px solid #fa770d;

  /* box-shadow: 0 0 10px #fa770d; */
}

/*----------------Muestra Datos------------------------*/

.main-container {
  margin: 7rem;
}

.empresa-busqueda {
  width: 20rem;
  padding-right: 1rem;
}

.host-busqueda {
  width: 20rem;
  padding-right: 1rem;
}

.fecha-busqueda-inicial {
  width: 18rem;
  padding-right: 0.5rem;
}

.fecha-busqueda-final {
  width: 28rem;
  padding-right: 0.5rem;
}

.empresa-container {
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  background-color: #fff;
  width: 100%;
  height: 3rem;
}

.select-empresa {
  margin-top: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  font-family: "Asap", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background-color: transparent;
  background-image: url("../icons/round-expand_more-24px.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  border: 2px solid #eee;
  border-radius: 5px;
  padding-left: 1rem;
}

.select-host {
  margin-top: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  font-family: "Asap", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background-color: transparent;
  background-image: url("../icons/round-expand_more-24px.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  border: 2px solid #eee;
  border-radius: 5px;
  padding-left: 1rem;
}

.input-fecha-busqueda {
  margin-top: 4px;
  font-size: 20px;
  height: 2.1rem;
  border: 2px solid #eee;
  border-radius: 5px;
  font-family: "Asap", sans-serif;
}

.boton-buscar {
  margin-top: 0.1rem;
  height: 3rem;
}

/*---------------Tabla---------------------------*/

.data-container {
  margin-top: 5rem;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

table tr {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 1em;
  text-align: left;
}

table td {
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #eee;
}

table th {
  background-color: #fa770d;
  color: #fff;
}

table tr:hover {
  background-color: #ffd7b6;
}
/*Tabla para pantallas chicas*/
@media screen and (max-width: 40em) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr,
  table td {
    display: block;
  }

  table tr {
    margin-bottom: 0.5em;
  }

  table td {
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: #fff;
  }
}
